In [4]:
import pandas as pd
import json

In [5]:
df = pd.read_csv('desafio1.csv')

In [22]:
df.head(2)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1

In [21]:
df.groupby('estado_residencia')['pontuacao_credito'].mean()

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [42]:
# cria as séries. não é possível utilizar o mode() no groupby, então utilizei o primeiro valor do value_counts()

media = df.groupby('estado_residencia')['pontuacao_credito'].mean()
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median()
moda = df.groupby('estado_residencia')['pontuacao_credito'].agg(lambda x:x.value_counts().index[0])
desvio_padrao = df.groupby('estado_residencia')['pontuacao_credito'].std()

In [59]:
moda

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [49]:
# Cria o dataframe final, já com os index nomeados corretamente

submission = pd.DataFrame([moda.T, mediana.T, media.T, desvio_padrao.T], index = ['moda','mediana','media','desvio_padrao'])

In [50]:
submission

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [54]:
# Reordenar as colunas, para ficar no mesmo formato do exemplo de submission

submission = submission[['SC','RS','PR']]

In [55]:
submission.to_json('submission.json')